@model Equipe
    @{
        ViewData["Title"] = "Equipes";
    }

    <div class="titulo_pagina">
        <h1>cadastro de @ViewData["Title"] </h1>
    </div>

   <form class="cadastro" action="@Url.Action("Cadastrar")"  method="POST" enctype="multipart/form-data">
    <div class="campo">
    <label>ID Equipe</label>
    <input type="text" name="IdEquipe" />
    </div>

    <div class="campo">
    <label>Nome</label>
    <input type="text" name="Nome" />
    </div>

    <div class="campo">
    <label>Imagem</label>
    <input type="file" name="Imagem" />
    </div>

    <button class="gradient btn" type="submit">Cadastrar</button>
</form>

<table>
    <thead>
        <th>ID</th>
        <th>Nome</th>
        <th>Foto</th>
    </thead>
    <tbody>
        @foreach(Equipe e in ViewBag.Equipes){
            <tr>
                <td>@e.IdEquipe</td>
                <td>@e.Nome</td>
                <td><img src="img/Equipes/@e.Imagem" alt="Imagem da equipe @e.Nome" width="40"></td>
                <td><a  asp-area="" asp-controller="Equipe" asp-action="Excluir" asp-route-id="@e.IdEquipe"><i class="fa fa-trash"></i></a></td>
            </tr>
        }
    </tbody>
</table>